# ITMGT 25.03 EE
### Assignment 1

These exercises are designed to strengthen your grasp on basic programming concepts. Read what is required of you carefully.

This assignment is only over 10 points, but there are 15 points available to earn from answering the questions. It will be credited to Class Participation, which will be over 200 for the entire semester.

Rename the file to:

Lastname_Assignment_1.ipynb

Send to my email account: joben.ilagan@gmail.com. 
Attach the file or create a Dropbox link. 
The deadline is Tuesday, 18 June 2019, 12:00 nn.

You may earn another 2 bonus points for figuring out GitHub and linking me to your repository in your email. (This brings the absolute maximum possible grade for this assignment to 17/10.)

# 1
### 1 point

Write a function that takes the circumference of a circle as a parameter and **returns** the area of that circle.

In [1]:
# A necessary process in order to make math.pi functional throughout the notebook.
# Referenced in the Final Answer Cell of number 1.

import math
math.pi

3.141592653589793

In [3]:
# Scratch cell to cross reference Final Answer function.

def Area(Radius):
    return math.pi*(Radius**2)

Area(10)

314.1592653589793

In [5]:
# Scratch cell to cross reference Final Answer 
# Also the matter of input in order to result with the same Area on the cell above. 

def Circumference(Radius):
    return 2*math.pi*Radius

Circumference(10)

62.83185307179586

In [6]:
# The Functions of Area and Circumference above is used as a basis of reference proving the Radius Value True all througout.
# Final Answer.

def CircumferenceToArea(Circumference):
    Radius = Circumference/math.pi/2
    Area = math.pi*(Radius**2)
    return Area

CircumferenceToArea(62.831853)

314.15926464102074

# 2
### 2 points

Write a function that takes a 5-character string as a parameter and **returns** the string in reverse order.

e.g. reverseString("Hello") -> "olleH"

In [13]:
# Scratch Cell 

Jay = "Hello"

print(Jay[4]+Jay[3]+Jay[2]+Jay[1]+Jay[0])

olleH

In [28]:
# Final Answer Cell

def ReverseString(x):
        return x[4]+x[3]+x[2]+x[1]+x[0]

ReverseString("Hello")

'olleH'

In [26]:
# This is a function found on the Internet, also used as a marker for checking if the answer will yield right. 

def ReverseString(x):
    return x[::-1]

ReverseString("Hello")

'olleH'

# 3
### 2 points

Write a function that takes a positive integer as input and **returns** the sum of all positive integers smaller than and including the number itself.

e.g. backAddition(5) -> 1 + 2 + 3 + 4 + 5 -> 15

In [27]:
# Final Answer Cell

def SumOfSetNumbers(x):
    Sum = sum(range(1,x + 1,1))
    return Sum
    
SumOfSetNumbers(500)

125250

In [29]:
# Alternative Solution to Final Answer

def SumOfSetNumbers(x):
    Sum = sum(range(1,x,1))
    Num = x
    return Sum+Num

SumOfSetNumbers(500)

125250

In [48]:
# I used the Running Total as a form of Checking if every possible value will yield the right answer. 

Total = 0

for T in range (0,501):
    Total += T

print(Total)

125250

# 4
### 3 points

Write a function that does the following:
1. The function iterates through each number from 1 to 100. Print each number.
2. If the number is divisible by 3, instead of the number, print "Fizz"
3. If the number is divisible by 5, instead of the number, print "Buzz"
4. If the number is divisible by both 3 and 5, instead of the number, print "FizzBuzz"

e.g.

1

2

Fizz

4

Buzz

Fizz

...

14

FizzBuzz

16

17

...

In [20]:
# Scratch Cell to prove that the range could generate the desired outcome.

for OneToOneHundred in range(1,101,1): 
    if (OneToOneHundred%15)==0:
        print("FizzBuzz")
    elif (OneToOneHundred%5)==0:
        print("Buzz")
    elif (OneToOneHundred%3)==0:
        print("Fizz")
    else:
        print(OneToOneHundred)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [10]:
# Subjected the Scratch Cell into the function. Added a return "" in order to remove an additional "None."

def FizzBuzz(x):
    for OneToOneHundred in range(1,x+1): 
        if (OneToOneHundred%15)==0:
            print("FizzBuzz")
        elif (OneToOneHundred%5)==0:
            print("Buzz")
        elif (OneToOneHundred%3)==0:
            print("Fizz")
        else:
            print(OneToOneHundred)
    return "" 
            
print(FizzBuzz(100))

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 5
### 2 points

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, using programming, find the sum of the even-valued terms.

In [31]:
# Scratch Cell in order to generate the even-valued Fibonacci Sequence all before the value of 4,000,000

Term1 = 1
Term2 = 2
TermN = 0
Sum = 0

print(1, end=" , ")

def IfEven(Term2):
    return Term2 % 2 == 0

while not TermN > 4000000:
   print(Term2, end=' , ')
   if IfEven(Term2):
       Sum = Sum + Term2
   TermN = Term1 + Term2
   Term1 = Term2
   Term2 = TermN

1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 , 17711 , 28657 , 46368 , 75025 , 121393 , 196418 , 317811 , 514229 , 832040 , 1346269 , 2178309 , 3524578 ,

In [37]:
# Scratch cell to generate the even-valued terms in the Fibonacci Sequence all less than 4,000,000

Term1 = 1
Term2 = 2
TermN = 0
Sum = 0

def IfEven(Term2):
    return Term2 % 2 == 0

while not TermN > 4000000:
   if IfEven(Term2):
       print(Term2, end = ', ')
       Sum = Sum + Term2
   TermN = Term1 + Term2
   Term1 = Term2
   Term2 = TermN

2, 8, 34, 144, 610, 2584, 10946, 46368, 196418, 832040, 3524578,

In [38]:
# Final Answer Cell

Term1 = 1
Term2 = 2
TermN = 0
Sum = 0

def IfEven(Term2):
    return Term2 % 2 == 0

while not TermN > 4000000:
   if IfEven(Term2):
       # print(Term2, end = ', ')
       Sum = Sum + Term2
   TermN = Term1 + Term2
   Term1 = Term2
   Term2 = TermN

print(Sum)

4613732

In [22]:
# Alternative Solution that yields the same answer

def Fibonacci(n):
    if n==0:
        return 0
    if n==1:
        return 1
    if n>1:
        return Fibonacci(n-1)+Fibonacci(n-2)
    
n=0
SUM=0
while Fibonacci(n)<4000000:
    if Fibonacci(n)%2==0:
        SUM+=Fibonacci(n)
    n+=1
    
print(SUM)

4613732

# 6
### 5 points (all or nothing)

The sum of the squares of the first ten natural numbers is,
12 + 22 + ... + 102 = 385

The square of the sum of the first ten natural numbers is,
(1 + 2 + ... + 10)2 = 552 = 3025

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 âˆ’ 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

Show code that generates the answer.

In [17]:
# Scratch Cell to present all the values from 1 to 100

for IntegersOneToOneHundred in range (1,101,1):
    print(IntegersOneToOneHundred,end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

In [15]:
# Scratch Cell to present all the squared values from 1 to 100

for SquaresOneToOneHundred in range (1,101,1):
    print(SquaresOneToOneHundred**2, end=", ")

1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000,

In [24]:
# Scratch Cell to yield a portion of the final answer

def SquareOfSum(x):
    Sum = sum(range(1,x+1,1))
    return Sum**2

print(SquareOfSum(100))

25502500

In [25]:
# Scratch cell to yield the other portion of the final answer

def SumOfSquares(x):
    Sum = 0
    for Number in range(1,x + 1,1):
        Square = Number**2
        Sum = Sum + Square
    return Sum

print(SumOfSquares(100))

338350

In [18]:
# Final Answer Cell

def SquareOfSum(x):
    Sum = sum(range(1,x+1,1))
    return Sum**2

def SumOfSquares(x):
    Sum = 0
    for Number in range(1,x + 1,1):
        Square = Number**2
        Sum = Sum + Square
    return Sum

print(SumOfSquares(100)-SquareOfSum(100))

25164150
-25164150